body,html {
    width: 100%;
    height: 100%;
    padding:10px;
}
body {
    margin: 5px;
    padding: 5px;
    color: #000;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    max-width:1000px;
}
nav{
    list-style-type: none;
    padding:0;
    margin:0;
    overflow: hidden;
}
li>a{
    font-weight: bold;
    float:right;
    display:block;
    color: #666;
    padding: 14px 16px;
    margin-right: 20px;
    text-decoration: none;
}
h1{
    text-align:center;
}

h3,h4{
    font-weight: bold;
    padding-bottom: 14px;
}
li{
    text-align: left;
}
#background-image{
    background-image: url("/home/asdf/Pictures/Module1/intro-bg_1.jpg");
    background-size: cover;
    padding-top: 50px;
    color:#fff;  /* white*/
    margin-top: 0;
    height: 600px;

}
#content{
    background-color: rgba(0,0,0,0.7);
    max-width: 500px;
    padding: 30px 30px;
    margin-top:50px;
    font-weight: bold;
}
p{
    font-size: 13px;
    text-align: center;
}

#header {
    background-color: black;
    padding: 8px 0px;
    color:white;
    text-align:center;
    margin: 0;
}
.button{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 6px;
    text-decoration:none;
}
.container {
    text-align: center;
    padding:20px;
    margin: auto;
	width:100%;
    overflow-x: hidden;
}
.thumbnail{
    display: inline-block;
    padding: 2px;
    margin-bottom: 16px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align:center;
    color:#666;
    margin: 21px;
}
.footer{
    width: 100%;
    background-color: #000;
    color:#fff;
    font-size:14px;
    height: 30px;
    padding:  4px 4px 12px 4px;
}